
*
{
    margin:0;
    padding: 0;
}


/*-----------Navigation--------*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;

} 

.navbar-brand
{
    height: 40px;
    padding-left: 30px;
}

.avbar-nav li
{
    padding: 0 10px;
}
.avbar-nav li a
{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover{
    color:#007bff!important;
}
.navbar{
    background: #fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 18px;
}
.navbar-brand{
    height: 25px;
    width: 90px;
}